<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body  onscroll="backpo()">
	<% include partials/navBar.ejs %>
	<section>
		<div id="Welcome">
			<img src="ProToLogo.svg"></img>
			<div>ProTo</div>
		</div>

		<% for(var i=0; i<ListSlide.length; i++) {%>
			<% if(i==0) {%>
				<div class="slide-content first" id="slide<%=i%>">
			<% }else{ %>
				<div class="scroll-up-button-daddy"  id="slide<%=i%>"><div class="scroll-up-button">
						<a href="#slide<%=i-1%>"><div class="up-arrow"></div></a>
				</div></div>
				<div class="slide-content">
			<% } %>
					<%- include('index/' + ListSlide[i])%>
				</div>
			<% if(i!=(ListSlide.length-1)) {%>
				<div class="scroll-down-button">
					<a href="#slide<%=i+1%>"><div class="down-arrow"></div></a>
				</div>
			<% } %>
		<% } %>
	</section>
	<% include partials/footer.ejs %>
	<script>
	var bp = 0;
	var temPo = 0;
	function backpo() {
		if(temPo < document.body.scrollTop)
				document.body.style.backgroundPosition = ["50% "+ --bp+"px"];
		else
			document.body.style.backgroundPosition = ["50% "+ ++bp+"px"];
		temPo = document.body.scrollTop;
	}
	</script>
	<% include script/slide.js %>
</body>
</html>
