<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<% include partials/navBar.ejs %>
    <div class="container-fluid bg-white">
        <div class="container"  style="height:100vh;">
            <div id="workflowCarouselIndicators" class="carousel slide" data-wrap="false">
                <ol class="carousel-indicators">
                    <li data-target="#workflowCarouselIndicators" data-slide-to="0" class="active"></li>
                    <% for(var i=1; i<ListDiapo.length; i++) {%>
                        <li data-target="#workflowCarouselIndicators" data-slide-to="<%= i %>"></li>
                    <% } %>
                </ol>
                <div class="carousel-inner">
                    <div id="diapo<%= i %>" class="carousel-item active">
                        <%- include('workflow/' + ListDiapo[0])%>
                    </div>
                    <% for(var i=1; i<ListDiapo.length; i++) {%>
                      <div id="diapo<%= i %>" class="carousel-item">
                        <%- include('workflow/' + ListDiapo[i])%>
                      </div>
                    <% } %>
                </div>
            </div>
        </div>
            <a class="carousel-control-prev" href="#workflowCarouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#workflowCarouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
	<% include partials/footer.ejs %>
</body>
<% include script/slide.js %>
</html>
